{% extends 'base.html.twig' %}

{% block title %}Créer un compte{% endblock %}

{% block body %}
    <h1>Créer un compte</h1>

    {{ form_start(registrationForm) }}
    <div class="FormUser">
        <div class="FormPart">{{ form_row(registrationForm.username) }}</div>
        <div class="FormPart">{{ form_row(registrationForm.email) }}</div>
        <div class="FormPart">{{ form_row(registrationForm.plainPassword, {
            label: 'Password'
            }) }}</div>
        <div class="FormPart">{{ form_row(registrationForm.agreeTerms) }}</div>
        <button type="submit" class="SubmitButton">Enregistrer le compte</button>
    </div>
    {{ form_end(registrationForm) }}
{% endblock %}
