{% extends "base.html.twig" %}

{% block title %}Publier un jeu{% endblock %}

{%  block body %}
    <h1>Ajouter un Jeu</h1>

        {{ form_start(form) }}
        <div class="FormUser">
            <div class="FormPart">{{ form_row(form.title) }}</div>
            <div class="FormPart">{{ form_row(form.category) }}</div>
            <div class="FormPart">{{ form_row(form.link) }}</div>
            <div class="FormPart">{{ form_row(form.description) }}</div>
            <button type="submit" class="SubmitButton">Publier le Jeu</button>
        </div>
        {{ form_end(form) }}
{% endblock %}