{% extends 'base.html.twig' %}

{% block title %}Changer les Informations du Compte{% endblock %}

{% block body %}

    <h1>Changer les données du compte</h1>
    {{ form_start(form) }}
    <div class="FormUser">
        <div class="FormPart">{{ form_row(form.username) }}</div>
        <div class="FormPart">{{ form_row(form.email) }}</div>
        <div class="FormPart">{{ form_row(form.plainPassword, {
            label: 'Password'
        }) }}</div>
        <button type="submit" class="SubmitButton"> Valider </button>
    </div>
    {{ form_end(form) }}
{% endblock %}