{% extends "base.html.twig" %}

{% block title %}Mon Profil{% endblock %}

{%  block body %}
    <h1>Mon Profil</h1>
    <div class="ProfilePage">
        <div class="GamesInProfile">
            <h2>Jeux publiés</h2>
            <div class="ProfileCase">
                {% for game in games %}
                    <h2>{{ game.title }}</h2>
                    <p>{{ game.downloaders|length }} téléchargement{% if game.downloaders|length > 1 %}s{% endif %}.</p>
                    <a href="{{ path("game", {id:game.id}) }}">Voir plus sur ce jeu.</a>
                {% endfor %}
            </div>
        </div>
        <div class="ProfileInfos">
            <h2>Mes Informations</h2>
            <div class="ProfileCase">
                <p style="text-align: center">Nom d'utilisateur : {{ app.user.username }}</p>
                <p style="text-align: center">Adresse mél : {{ app.user.email }}</p>
                <a href="{{ path("ChangeInfos") }}">Changer mes Informations</a>
            </div>
        </div>
        <div class="CommentsInProfile">
            <h2>Mes Commentaires</h2>
            <div class="ProfileCase">
                {% for comment in app.user.comments %}
                    <h2>{{ comment.game.title }}</h2>
                    <p>{{ comment.content }}</p>
                    <a style="text-align: center" href="{{ path("game", {id:comment.game.id}) }}">Voir plus sur {{ comment.game.title }}.</a>
                {% endfor %}
            </div>
        </div>



    </div>
{% endblock %}